# Dependencias
node_modules/

# Builds
dist/
build/

# Entornos
.env 
.env.*
.wadata

# Caches de Puppeteer/Chromium (por si acaso)
**/.local-chromium/
**/.cache/puppeteer/
public/qr.png

scripts/

/data
/auth
/.wadata
.env
public/qr.png.env
/local
/Users/nahue/Workspace/wa-ai-bailey/C:\Users\nahue\AppData\Local\wa-auth